
language: node_js
node_js: stable

# S: Build Lifecycle
install:
  - npm install


#before_script:
 # - npm install -g gulp

script:
  - hexo generate

after_script:
  - cd ./public
  - git init
  - git config user.name "xcodeyang"
  - git config user.email "xcodeyang@gmail.com"
  - git add .
  - git commit -m "Update blogs"
  - git push --force --quiet "https://${gh_token}@${gh_repo}" master:master
# E: Build LifeCycle

branches:
  only:
    - develop
env:
 global:
  - gh_repo: git@github.com:CheLun-iOS/CheLun-iOS.github.io.git
